/* Shared piece box */
.piece,
.square-pos {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  top: 0;
  left: 0;
}

/* Piece images */
.piece {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.45));
}

/* White pieces */
.piece-K {
  background-image: url("/chess/wk.svg");
}
.piece-Q {
  background-image: url("/chess/wq.svg");
}
.piece-R {
  background-image: url("/chess/wr.svg");
}
.piece-B {
  background-image: url("/chess/wb.svg");
}
.piece-N {
  background-image: url("/chess/wn.svg");
}
.piece-P {
  background-image: url("/chess/wp.svg");
}

/* Black pieces */
.piece-k {
  background-image: url("/chess/bk.svg");
}
.piece-q {
  /* border: 1px solid black; */
  background-image: url("/chess/bq.svg");
}
.piece-r {
  background-image: url("/chess/br.svg");
}
.piece-b {
  background-image: url("/chess/bb.svg");
}
.piece-n {
  background-image: url("/chess/bn.svg");
}
.piece-p {
  background-image: url("/chess/bp.svg");
}
