@import "tailwindcss";

:root {
  --background: #323232;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@utility no-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

button {
  cursor: pointer;
}

/* Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* IE/old Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}
