@import "tailwindcss";

/* global.css */

/* Firefox */
.custom-scrollbar {
  scrollbar-width: 0;
  scrollbar-color: white;
  /* scrollbar-color: #444 #1a1a1a; */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
